

// Table Data
.dataTable_wrapper{
  margin-top: 50px;
}
.highlight td {
  background-color: #edff00 !important;
  color: black;
}

.chart_overmenu{
  top: 20px !important;
}

.dataTable_wrapper{
  margin-top: 30px;
}

.opt_poi__wrapper{
  text-align: center;
  margin-top: 50px;
}

.title{
  margin-bottom: 30px;
}

.icon-wrapper{
  color: red
}

// 
.cluster-marker {
  color: #fff;
  background: #1978c8;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crime-marker {
  background: none;
  border: none;
}

.crime-marker img {
  width: 25px;
}