
#two_charts{
  padding: 20px;
}
// Table Data
.dataTable_wrapper{
  margin-top: 50px;
}
.highlight td {
  background-color: #edff00 !important;
  color: black;
}

.chart_overmenu{
  top: 20px !important;
}

.dataTable_wrapper{
  margin-top: 30px;
}


.title{
  margin-bottom: 30px;
}

.icon-wrapper{
  color: red
}

// 
.cluster-marker {
  color: #fff;
  background: #1978c8;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crime-marker {
  background: none;
  border: none;
}

.crime-marker img {
  width: 25px;
}

.cluster_name{
  font-size: 0.8rem;
}

.metric_value{
  font-size: 0.8rem;
  color: #007bff;
}

.text-icon-wrapper{
  display: flex;
}


.opt_poi__wrapper{
  text-align: center;
  padding: 20px;
  height: 800px;
  .inputZoom__wrapper{
    margin-left: 10px;
    // width: fit-content;
    text-align: center;
    display: flex;
    background-color: white;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #007bff;
    
    p{
      font-size:14px;
      padding: 0;
      &.box_zoom{
        color: #007bff;
      }
    }
  }

  .select-container{
    background-color:	#A8A8A8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  
    .selected_pois{
      padding: 10px;

      option{
        padding: 5px;
      }
    }
}
}
